$rosa: #c94c4c;
$turquesa:#b1cbbb;
$rosa_palido: #eea29a;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron
{
background-color: $rosa;
color: white;
@include margenes(50px, 20px);
}

footer
{
  padding: 10px 10px 0 10px;
  background-color: $turquesa;
  @include margenes(30px, 0px);
}

.btn
{
  background-color: $rosa_palido;
  color: black;
}

hr
{
  background-color: $rosa;
}

.card-hotel
{
  flex: 1 300px;
  margin-top: 6px;
  padding: 2px 2px 2px 2px;
}

.card-banner
{
  margin-left: 12px;
  margin-right: 12px;
  flex: 1 300px;
  margin-top: 0px;
  padding: 0px 0px 0px 0px;
}


.iconos_footer
{
  margin-right: 6px;
}

.breadcrumb
{
  margin-top: 20px;
}
.contacto
{
  margin-top: 8px;
}
.carousel-margin
{
  margin: 20px;
}
